.login_wnd {
	display:flex;
	flex-direction:column;
	align-items:center;
}
.login_wnd_head {
	font-size:x-large;	
	color: steelblue;
	margin-right:0.5em;
}
.login_wnd_btn {
	text-decoration: none;	
	padding:1em;
	margin:1em;
	border: solid 2px silver;
	border-radius: 10px 10px 10px 10px;
	color: dimgray;	
	background: white;	
}

.login_wnd_btn:hover {
	color:salmon;
	border: solid 2px salmon;
}
.login_wnd_form {
	padding:2em;
}