body {
	margin: 0px;
	padding: 0px;
}

.lo_header {
	display:flex;
	justify-content:space-between;
	align-items:center;
	background-color:gray;
	padding: 0.3em;
}

.lo_logo {
	font-size:x-large;
	color: lightgray;
	margin-left: 0.2em;
}

@media (max-width: 600px) {

	.lo_logo {
		display:none;
	}

}

.lo_ref {
	text-decoration: none;

	padding: 0.3em;
	margin-left: 1em;
	margin-right: 1em;

	color: lightgray;
	border: solid 2px lightgray; 
	border-radius: 10px 10px 10px 10px;
	
} 

.lo_ref:hover{
	color: white;
	border: solid 2px white; 	
}

