.place_wnd {
	display:none;
	flex-direction:column;
	align-items:center;
	position: fixed;
	top: 30%;
	left:35%;
	border: outset 3px silver;
	border-radius: 10px 10px 10px 10px;
	background: white;	
}

.place_btn_ref {
	text-decoration: none;	
}

.place_btn {
	margin:1em;
	padding:0.5em;
	border: solid 2px silver;
	border-radius: 10px 10px 10px 10px;
	color: dimgray;
	width:150px;
}

.place_btn:hover {
	color:salmon;
	border: solid 2px salmon;
}

.place_wnd {
	display:none;
	flex-direction:column;
	align-items:center;
	position: fixed;
	top: 30%;
	left:35%;
	border: outset 3px silver;
	border-radius: 10px 10px 10px 10px;
	background: white;	
}

@media (max-width: 600px) {

	.place_wnd {
		display:none;
		margin-right:2em;
		flex-direction:column;
		align-items:center;
		position: fixed;
		top: 10%;
		left:10%;
		border: outset 3px silver;
		border-radius: 10px 10px 10px 10px;
		background: white;	
	}

}

.place_wnd_head {
	font-size:x-large;	
	color: steelblue;
	margin:0.5em;
}

.place_wnd_form {
	padding:1em;

}

.place_wnd_foot {
	margin:1em;
}

.place_wnd_btn {
	text-decoration: none;	
	padding:0.5em;
	margin:0.5em;
	border: solid 2px silver;
	border-radius: 10px 10px 10px 10px;
	color: dimgray;	
	background: white;	
}

.place_wnd_btn:hover {
	color:salmon;
	border: solid 2px salmon;
}

.place_btn_ref {
	text-decoration: none;	
}

.place_btn {
	margin:1em;
	padding:0.5em;
	border: solid 2px silver;
	border-radius: 10px 10px 10px 10px;
	color: dimgray;
	width:150px;
}

.place_btn:hover {
	color:salmon;
	border: solid 2px salmon;
}

.place_wnd_head {
	font-size:x-large;	
	color: steelblue;
	margin:0.5em;
}

.place_wnd_form {
	padding:1em;

}

.place_wnd_el {
	font-size:large;
	color: dimgray;
	margin:1em;
}

.place_wnd_fld {
	margin-left:0.3em;
	border: solid 1px silver;
	border-radius: 5px 5px 5px 5px;
    margin-top:-2px;
	vertical-align: top;
}

@media (max-width: 600px) {

.place_wnd_fld {
		margin-top:0.3em;
		font-size:large;
		border: solid 1px silver;
		border-radius: 5px 5px 5px 5px;
	}

}