/* shkaf_select */
.list_shkaf_room {
	font-size: large;
	color: white;
	background: lightblue;
	padding-left:0.5em;
}

.list_shkaf {
	display:flex;
	flex-wrap:wrap;
}

.list_shkaf_ref {
	text-decoration: none;
}

.list_shkaf_el {
	display: flex;
	margin: 1em;
	padding: 0.2em;
	border: solid 2px silver;
	border-radius: 10px 10px 10px 10px;

}

.list_shkaf_el:hover {
	border: solid 2px salmon;
}

.list_shkaf_pic {
	width: 200px;
	height: 150px;
	margin-right: 0.7em;
}

.list_shkaf_desc {
	width: 200px;
	height: 150px;
	overflow:hidden;
}

@media (max-width: 600px) {
	.list_shkaf_pic {
		width: 150px;
		height: 100px;
		margin-right: 0.7em;
	}

	.list_shkaf_desc {
		width: 150px;
		height: 100px;
		overflow:hidden;
	}
}

.list_shkaf_head {
	font-size: large;
	color: palevioletred;	
	margin-bottom: 0.5em;	
}
	
.list_shkaf_body {
	font-size: medium;
	color: black;	
}

/* shkaf_new */

.shkaf_new_msg {
	color:red;
	font-size:large;
	background: aliceblue;
	padding-left:2em;
	padding-top:1em;
}

.shkaf_new_form {
	display:flex;
	flex-wrap:wrap;
	align-item:center;
	padding:1em;
	background: aliceblue;

}

.shkaf_new_el {
	font-size:large;
	color: dimgray;
	margin:1em;
}

.shkaf_new_el_fld {
	margin-left:0.3em;
	font-size:large;
	border: solid 1px silver;
	border-radius: 5px 5px 5px 5px;
    margin-top:-2px;
	vertical-align: top;
}

.shkaf_new_el_fld_pic {
	margin-left:0.3em;
	font-size:small;
	border: solid 1px silver;
	border-radius: 5px 5px 5px 5px;
	margin-top:-2px;
	vertical-align: top;
	
}

@media (max-width: 600px) {

	.shkaf_new_el_fld {
		margin-top:0.3em;
		font-size:large;
		border: solid 1px silver;
		border-radius: 5px 5px 5px 5px;
	}

	.shkaf_new_el_fld_pic {
		margin-top:0.3em;
		font-size:small;
		border: solid 1px silver;
		border-radius: 5px 5px 5px 5px;		
	}
}


.shkaf_new_btn {
	margin-left:2em;
	width:100px;
	height:60px;
	background: aliceblue;
	border: solid 2px silver;
	border-radius: 10px 10px 10px 10px;
	text-decoration: none;
	color: dimgray;
}

.shkaf_new_btn:hover {
	color:salmon;
	border: solid 2px salmon;
}

/* shkaf_detail */

.shkaf_card {
	display:flex;
	flex-wrap:wrap;
	margin:1em;
}

.shkaf_card_img {
	width:400px;
	height:300px;
}

.shkaf_card_body {
	width:400px;
	height:300px;
	overflow:hidden;
	border: solid 1px silver;	
}

@media (max-width: 600px) {
	.shkaf_card_img {
		width:330px;
		height:250px;
	}
	.shkaf_card_body {
		width:330px;
		height:250px;
		overflow:hidden;
		border: solid 1px silver;	
	}

}	
	
.shkaf_card_head {
	color:palevioletred;
	font-size: 2em;
	margin:0.5em;
}

.shkaf_card_desc {
	margin:1em;
}

.shkaf_btn_ref {
	text-decoration: none;	
}

.shkaf_btn {
	margin:1em;
	padding:0.5em;
	border: solid 2px silver;
	border-radius: 10px 10px 10px 10px;
	color: dimgray;
	width:150px;
}

.shkaf_btn:hover {
	color:salmon;
	border: solid 2px salmon;
}

.shkaf_wnd {
	display:none;
	flex-direction:column;
	align-items:center;
	position: fixed;
	top: 30%;
	left:35%;
	border: outset 3px silver;
	border-radius: 10px 10px 10px 10px;
	background: white;	
}

.shkaf_wnd_head {
	font-size:x-large;	
	color: steelblue;
	margin:0.5em;
}

.shkaf_wnd_foot {
	margin:1em;
}

.shkaf_wnd_btn {
	text-decoration: none;	
	padding:0.5em;
	margin:0.5em;
	border: solid 2px silver;
	border-radius: 10px 10px 10px 10px;
	color: dimgray;	
	background: white;	
}

.shkaf_wnd_btn:hover {
	color:salmon;
	border: solid 2px salmon;
}

.shkaf_card_msg {
	color:red;
	margin:1em;
}

.shkaf_wnd_form {
	padding:1em;

}

.shkaf_wnd_el {
	font-size:large;
	color: dimgray;
	margin:1em;
}

.shkaf_wnd_fld {
	margin-left:0.3em;
	border: solid 1px silver;
	border-radius: 5px 5px 5px 5px;
    margin-top:-2px;
	vertical-align: top;
}

.shkaf_wnd_fld_pic {
	margin-left:0.3em;
	font-size:small;
	border: solid 1px silver;
	border-radius: 5px 5px 5px 5px;
	margin-top:-2px;
	vertical-align: top;
	
}

@media (max-width: 600px) {

.shkaf_wnd {
	display:none;
	margin-right:2em;
	flex-direction:column;
	align-items:center;
	position: fixed;
	top: 10%;
	left:10%;
	border: outset 3px silver;
	border-radius: 10px 10px 10px 10px;
	background: white;	
}

	.shkaf_wnd_fld {
		margin-top:0.3em;
		font-size:large;
		border: solid 1px silver;
		border-radius: 5px 5px 5px 5px;
	}

	.shkaf_wnd_fld_pic {
		margin-top:0.3em;
		font-size:small;
		border: solid 1px silver;
		border-radius: 5px 5px 5px 5px;		
	}
}
