/* thing_select, thing_shkaf */

.thing_search_form {
	display:flex;
	flex-wrap:wrap;
	align-item:center;
	padding:1em;
	background: aliceblue;
	margin-bottom:0px;
}

.thing_search_el {
	font-size:large;
	color: dimgray;
	margin:1em;
}

.thing_search_el_fld {
	margin-left:0.3em;
	font-size:large;
	border: solid 1px silver;
	border-radius: 5px 5px 5px 5px;
}

@media (max-width: 600px) {

	.thing_search_el_fld {
		margin-top:0.3em;
		font-size:large;
		border: solid 1px silver;
		border-radius: 5px 5px 5px 5px;
	}

}

.thing_search_btn {
	margin-left:2em;
	width:100px;
	height:60px;
	background: aliceblue;
	border: solid 2px silver;
	border-radius: 10px 10px 10px 10px;
	text-decoration: none;
	color: dimgray;
}

.thing_search_btn:hover {
	color:salmon;
	border: solid 2px salmon;
}


.list_thing_shkaf {
	font-size: large;
	color: white;
	background: rosybrown;
	padding-left: 0.5em;	
}

.list_thing {
	display:flex;
	flex-wrap:wrap;
}

.list_thing_ref {
	text-decoration: none;
}

.list_thing_el {
	display: flex;
	margin: 1em;
	padding: 0.2em;
	border: solid 2px silver;
	border-radius: 8px 8px 8px 8px;
}

.list_thing_el:hover {
	border: solid 2px salmon;
}

.list_thing_pic {
	width: 200px;
	height: 150px;
	margin-right: 0.7em;
}

.list_thing_desc {
	width: 200px;
	height: 150px;
	overflow:hidden;
}

@media (max-width: 600px) {
	.list_thing_pic {
		width: 150px;
		height: 100px;
		margin-right: 0.7em;
	}
	.list_thing_desc {
		width: 150px;
		height: 100px;
		overflow:hidden;
	}
}

.list_thing_head {
	font-size: large;
	color: steelblue;	
	margin-bottom: 0.5em;	
}

.list_thing_body {
	font-size: medium;
	color: black;	
}
.list_thing_place {
	font-size: medium;
	color: steelblue;	
		
}

/*thing_new*/

.thing_new_msg {
	color:red;
	font-size:large;
	background: aliceblue;
	padding-left:2em;
	padding-top:1em;
}

.thing_new_form {
	display:flex;
	flex-wrap:wrap;
	align-item:center;
	padding:1em;
	background: aliceblue;
	margin-bottom:0px;

}

.thing_new_el {
	font-size:large;
	color: dimgray;
	margin:1em;
}

.thing_new_el_fld {
	margin-left:0.3em;
	font-size:large;
	border: solid 1px silver;
	border-radius: 5px 5px 5px 5px;
    margin-top:-2px;
	vertical-align: top;
}

.thing_new_el_fld_pic {
	margin-left:0.3em;
	font-size:small;
	border: solid 1px silver;
	border-radius: 5px 5px 5px 5px;
	margin-top:-2px;
	vertical-align: top;
	
}

@media (max-width: 600px) {

	.thing_new_el_fld {
		margin-top:0.3em;
		font-size:large;
		border: solid 1px silver;
		border-radius: 5px 5px 5px 5px;
	}

	.thing_new_el_fld_pic {
		margin-top:0.3em;
		font-size:small;
		border: solid 1px silver;
		border-radius: 5px 5px 5px 5px;		
	}
}

.thing_new_btn {
	margin-left:2em;
	width:100px;
	height:60px;
	background: aliceblue;
	border: solid 2px silver;
	border-radius: 10px 10px 10px 10px;
	text-decoration: none;
	color: dimgray;
}

.thing_new_btn:hover {
	color:salmon;
	border: solid 2px salmon;
}


/* thing_detail */

.thing_card {
	display:flex;
	flex-wrap:wrap;
	margin:1em;
}

.thing_card_img {
	width:400px;
	height:300px;
}

.thing_card_body {
	width:400px;
	height:300px;
	overflow:hidden;
	border: solid 1px silver;	
}

@media (max-width: 600px) {
	.thing_card_img {
		width:330px;
		height:250px;
	}
	.thing_card_body {
		width:330px;
		height:250px;
		overflow:hidden;
		border: solid 1px silver;	
	}

}	
	
.thing_card_head {
	color:steelblue;
	font-size: 2em;
	margin:0.5em;
}
.thing_card_place {
	color:steelblue;
	margin:1em;
}



.thing_card_desc {
	margin:1em;
}

.thing_btn_ref {
	text-decoration: none;	
}

.thing_btn {
	margin:1em;
	padding:0.5em;
	border: solid 2px silver;
	border-radius: 10px 10px 10px 10px;
	color: dimgray;
	width:150px;
}

.thing_btn:hover {
	color:salmon;
	border: solid 2px salmon;
}


.thing_wnd {
	display:none;
	flex-direction:column;
	align-items:center;
	position: fixed;
	top: 30%;
	left:35%;
	border: outset 3px silver;
	border-radius: 10px 10px 10px 10px;
	background: white;	
}

.thing_wnd_head {
	font-size:x-large;	
	color: steelblue;
	margin:0.5em;
}

.thing_wnd_foot {
	margin:1em;
}

.thing_wnd_btn {
	text-decoration: none;	
	padding:0.5em;
	margin:0.5em;
	border: solid 2px silver;
	border-radius: 10px 10px 10px 10px;
	color: dimgray;	
	background: white;	
}

.thing_wnd_btn:hover {
	color:salmon;
	border: solid 2px salmon;
}

.thing_card_msg {
	color:red;
	margin:1em;
}

.thing_wnd_form {
	padding:1em;

}

.thing_wnd_el {
	font-size:large;
	color: dimgray;
	margin:1em;
}

.thing_wnd_fld {
	margin-left:0.3em;
	border: solid 1px silver;
	border-radius: 5px 5px 5px 5px;
    margin-top:-2px;
	vertical-align: top;
}

.thing_wnd_fld_pic {
	margin-left:0.3em;
	font-size:small;
	border: solid 1px silver;
	border-radius: 5px 5px 5px 5px;
	margin-top:-2px;
	vertical-align: top;
	
}

@media (max-width: 600px) {

	.thing_wnd {
		display:none;
		margin-right:2em;
		flex-direction:column;
		align-items:center;
		position: fixed;
		top: 10%;
		left:10%;
		border: outset 3px silver;
		border-radius: 10px 10px 10px 10px;
		background: white;	
	}

	.thing_wnd_fld {
		margin-top:0.3em;
		font-size:large;
		border: solid 1px silver;
		border-radius: 5px 5px 5px 5px;
	}

	.thing_wnd_fld_pic {
		margin-top:0.3em;
		font-size:small;
		border: solid 1px silver;
		border-radius: 5px 5px 5px 5px;		
	}
}

.chg_plc_head {
	color:palevioletred;
}

.chg_plc_list {
	margin-bottom:0.5em;	
	
}
