/*

Описание фреймворка.

1. Контейнеры
	.boxes (+ .wrp) - элементы в flex-контейнере, выстраиваются горизонтально, .wrp - автоматический перенос на новую строку.
	.rows (+ .mn-cnt,+ .sd-str|.sd-cnt|.sd-end) - элементы в flex-контейнере, выстраиваются вертикально, .mn-cnt - выравнивание элементов по центру главной оси, .sd-str|.sd-cnt|.sd-end - выравнивание элементов по началу|середине|концу боковой оси. 

2. Большие карточки
	.bcard-desc, .bcard-pic -  оформление для обоих частей большой карточки, фиксированной величина 300Х300 для десктопа, 250Х250 для мобилы, с рамкой.

3. Маленькие карточки
	.list_head - оформление заголовка для списка карточек.
	.card - оформление маленькой карточки: рамка, ховер.
	.card_pic, card_desc - оформление для обоих частей карточки, фиксированной величина 150Х150 для десктопа и мобилы, с рамкой.
	.card_head, card_body - оформление внутри card_desc: шапка и текст. 

4. Окна
	.wnd - прозрачный div, позиция absolute - от начала страницы, flex контейнер. нужен чтобы подвешивать в него всплывающее окно, добавляем .rows и .sd_cnt, и тогда div внутри позиционируется всегда по центру экрана.
	.brd - рамка для окна, добавляем к внутреннему div
	.sdw - крутая тень для всплывающего окна в стиле material design
	.head - оформление заголовка окна
	.lbl - подпись для поля
	.fld (+ .full)- поле для ввода, если добавить .full то все поля в рамках одного div будут одинаковой длины, по величение самого большого поля.
	.btn - оформление кнопки
	
	Пример создания всплывающего окна:
	
	<form class='wnd rows sd_cnt' action='' method='' id='my_wnd'>  - делаем внешний контейнер для окна, оно будет позиционироваться посередине экрана
		<div class='rows brd sd_cnt sdw'>            - делаем само окно,  с рамкой, с тенью, задаем позиционирование внутренних элементов
			<div class='head'>Заголовок окна</div>       
			<div>                     - этот контейнер нужен для обертки всех полей формы, чтобы они выровнялись за счет .full
				<div>
					<span class='lbl'>Название</span>
					<input class='fld full' type='text' name='name'>
				</div>
				<div> 
					<span class='lbl'>Описание</span> <br>
					<textarea class='fld full' name='descr' ></textarea>
				</div>
			</div>	
			<div>		
				<button class='btn' type='submit'>Да</button>
				<button class='btn' onClick='document.getElementById("my_wnd").style.display = "none"' type='button'>Нет</button>
			</div>
		</div>
	</form>	

5. Сообщения
	.info - оформление сообщения об отсутствии данных в БД
	.wait - оформление сообщения о процессе загрузки данных в БД
	.msg (+ .err|.suc) - оформление сообщений об операции по изменению БД (неуспех или успех)

6. Утилиты
	.no_ref - не подчеркивать ссылки
	.pХ .mХ - маржин, паддинг отступы
	.mob - показывать элемент только в мобильной версии
	.mob_n - показывать элемент только в десктопной версии

7. Цвета. 
	фон кнопок - whitesmoke
	рамки - silver 
	фокус - salmon 
	текст лейблов и хедов - steelblue
	текст филдов - dimgray  

*/




/*containers*/
.boxes {
	display:flex;
	flex-direction:row;
}
.wrp {
	flex-wrap:wrap;
}
.rows {
	display:flex;
	flex-direction:column;
}
.mn_cnt {
	justify-content:center;
}
.sd_str {
	align-items:flex-start;
}
.sd_cnt {
	align-items:center;
}
.sd_end {
	align-items:flex-end;
}

/*big card*/
.bcard_desc {
	width:300px;
	height:300px;
	border: solid 1px silver;
	border-radius: 10px 0px 0px 10px;	
}
.bcard_pic {
	width:300px;
	height:300px;
	border: solid 1px silver;
	border-radius: 0px 10px 10px 0px;	
}

@media (max-width: 600px) {
	.bcard_desc {
		width:250px;
		height:250px;
		overflow:hidden;
		border: solid 1px silver;	
		border-radius: 10px 10px 0px 0px;	
	}
	.bcard_pic {
		width:250px;
		height:250px;
		border: solid 1px silver;
		border-radius: 0px 0px 10px 10px;	
	}

}	

/*card*/
.list_head {
	font-size: large;
	color: white;
	padding-left: 0.5em;	
}
.card {
	display: flex;
	padding: 0.2em;
	border: solid 2px silver;
	border-radius: 10px 10px 10px 10px;
}
.card:hover {
	border: solid 2px salmon;
}
.card_pic {
	width: 150px;
	height: 150px;
	margin-right: 0.5em;
}
.card_desc {
	width: 150px;
	height: 150px;
	overflow:hidden;
}
.card_head {
	font-size: x-large;
	color: steelblue;	
	margin-bottom: 0.5em;	
}
	.card_body {
	font-size: medium;
	color: black;	
}

/*forms*/
.wnd {
	display:none;	
	position: absolute;
	top: 5%;
	left:0%;
	width:100%;
	background: transparent;
}
.brd {
	border: solid 1px silver;
	border-radius: 5px 5px 5px 5px;	
	background: white;
}
.sdw {	
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.head {
	font-size:x-large;	
	color: steelblue;
}
.lbl {
	font-size:medium;	
	color: steelblue;
}
.fld{
	border: solid 1px dimgray;
	border-radius: 3px 3px 3px 3px;
	font-size:large;
	padding:0.2em;
	color: dimgray;	
}
.full {
	width: 100%;
}
.btn {
	text-decoration: none;	
	padding-top:0.5em;
	padding-bottom:0.5em;
	padding-left:1em;
	padding-right:1em;
	border: solid 2px silver;
	border-radius: 10px 10px 10px 10px;
	color: black;	
	background: whitesmoke; 
	max-width:150px;
}
.btn:hover {
	color:salmon;
	border: solid 2px salmon;
}

/*msg*/
.info {
	display:inline-block;
	margin-left:0.5em;
	margin-top:0.5em;
	background:khaki;
}
.wait {
	display:none;
	color:orange;
	margin-left:0.5em;	
}
.msg {
	display:block;
	font-size:large;	
	color: white;
	padding: 0.5em;
}
.err {
	background: red;
} 
.suc {
	background: green;
} 

/*utils*/
.no_ref {
	text-decoration: none;	
}
.p15 {
	padding:1.5em;	
}
.p05 {
	padding:0.5em;	
}
.m15 {
	margin:1.5em;	
}
.m05 {
	margin:0.5em;	
}
.m05_l {
	margin-left:0.5em;	
}
.m05_r {
	margin-right:0.5em;	
}
.m05_t {
	margin-top:0.5em;	
}
.m05_b {
	margin-bottom:0.5em;	
}
.mob_n {
	display: initial; 
}
.mob {
	display: none; 
}
@media (max-width: 600px) {
	.mob_n {
		display: none;	
	}
	.mob {
		display: initial; 
	}
}